<div class="col-xs-3" id="footer">
  <div class="row">

    <div class="container">
      <div class="col-lg-2">
        <h3>Links</h3>
        <ul class="bullet-none">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="col-lg-4">
        <h3>Our Address</h3>
        <p>214 King Street West</p>
        <p>Downtown,Toronto</p>
        <p>Ontario</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i>+416 1234 5678</p>
        <p><i class="fa fa-mobile" aria-hidden="true"></i>+416 1234 5678</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:illfornello@food.net"></a>illfornello@food.net</p>

      </div>
      <div class="col-lg-4">
        <div class="text-center center-block social-media-space-top">
          <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
          <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="https://www.instagram.com"><i id="social-instagram" class="fa fa-instagram-square fa-3x social"></i></a>
          <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-youtube-square fa-3x social"></i></a>
          <a href="mailto:andersolind@gmail.com"><i id="social-em" class="fa fa-envelope fa-3x social"></i></a>
        </div>
      </div>
    </div>
  </div>