.bullet-none {
  list-style-type: none;
}

.table tbody tr {
  text-align: center !important;
}
.table tr th {
    text-align: left;
    border-top:none;
}

table tr td { text-align: left; }

.p-font-size{
  font-size:13px;
}