<nav class="navbar navbar-custom navbar-fixed-top nav-margin-bottom">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class=" navbar-brand pull-left">
        <img class="toplogo" src="/assets/logo.png"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a  class="fa fa-home active" href="#">Home</a></li>
      <li><a class="fa fa-info-circle" href="#">About</a></li>
      <li dropdown>
        <a dropdownToggle class="dropdown-toggle" role="button">Menu <span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a href="#">Test</a></li>
          <li><a href="#">Testing</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>