
.toplogo{
    height : 100%;
} 

.nav-margin-bottom{
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
  }

/* change the background color */
.navbar-custom {
    background-color: #2f3ba1 !important;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff !important;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #191e80;
    text-decoration: none;
  }
  .navbar-nav > li >a{
    color:grey;
  }
  .navbar-nav > li >a:hover{
    color:white;
  }
  

  .navbar .navbar-collapse {
    text-align: center;
}

.active {
    color: white !important;
    background-color:#191e80 !important;
  }

